@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out-in {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out-in {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}
.clearfix:before, .clearfix:after {
  content: "";
  display: block;
  clear: both;
}

[data-tooltip] {
  position: relative;
}
[data-tooltip]:hover, [data-tooltip]:focus {
  cursor: help;
}
[data-tooltip]:hover:after, [data-tooltip]:focus:after {
  background: #ccebff;
  box-shadow: 0 0 0 0.25em #99d8ff, 7px 7px 0 rgba(0, 0, 0, 0.5);
  color: #333;
  padding: .5em .5em;
  position: absolute;
  top: 0;
  left: 1.5rem;
  line-height: 1;
  font-size: .875rem;
  text-align: center;
  -webkit-animation: fade-in .4s forwards ease;
          animation: fade-in .4s forwards ease;
  z-index: 10000;
  content: attr(data-tooltip);
}
@media (min-width: 30em) {
  [data-tooltip]:hover:after, [data-tooltip]:focus:after {
    min-width: 8em;
  }
}
