@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.clearfix:before, .clearfix:after {
  content: "";
  display: block;
  clear: both;
}

[data-tooltip] {
  position: relative;
}
[data-tooltip]:hover, [data-tooltip]:focus {
  cursor: help;
}
[data-tooltip]:hover:after, [data-tooltip]:focus:after {
  background: #ccebff;
  box-shadow: 0 0 0 0.25em #99d8ff, 7px 7px 0 rgba(0, 0, 0, 0.5);
  color: #333;
  padding: .5em .5em;
  position: absolute;
  top: 0;
  left: 1.5rem;
  line-height: 1;
  font-size: .875rem;
  text-align: center;
  -webkit-animation: fade-in .4s linear;
          animation: fade-in .4s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
  z-index: 10000;
  content: attr(data-tooltip);
}
@media (min-width: 30em) {
  [data-tooltip]:hover:after, [data-tooltip]:focus:after {
    min-width: 8em;
  }
}

@font-face {
  font-family: 'Knockout-94';
  src: url("fonts/Knockout-HTF94-UltmtSumo.woff2") format("woff2"), url("fonts/Knockout-HTF94-UltmtSumo.woff") format("woff"), url("fonts/Knockout-HTF94-UltmtSumo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Knockout-29';
  src: url("fonts/Knockout-HTF29-JuniorLiteweight.woff2") format("woff2"), url("fonts/Knockout-HTF29-JuniorLiteweight.woff") format("woff"), url("fonts/Knockout-HTF29-JuniorLiteweight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.demo-label {
  background: #555;
  border-bottom: 1px solid #676767;
  color: #CCC;
  font-weight: 400;
  letter-spacing: .1em;
  margin-bottom: 0;
  padding-top: .35rem;
  padding-right: .25rem;
  padding-bottom: .35rem;
  padding-left: 1rem;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .3s ease, background .5s ease;
  transition: all .3s ease, background .5s ease;
  -webkit-font-smoothing: antialiased;
}
.demo-label:focus {
  outline: 0;
}
.demo-label:last-child {
  border-bottom: none;
}

.fonts-loaded .demo .collapsible-header {
  font-family: "Knockout-29", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
}
.demo .collapsible .icon {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.demo .collapsible-collapsed .icon {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.demo .collapsible-content .demo-label {
  background: #777;
  border-bottom: 1px solid #888;
}
.demo .collapsible-expanded > .demo-label {
  background: #CCC;
  border-bottom: 1px solid #555;
  border-bottom: none;
  color: #777;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.demo .collapsible-expanded > .icon {
  -webkit-transform: rotate(90deg) rotateX(-180deg);
          transform: rotate(90deg) rotateX(-180deg);
}
.demo .collapsible-expanded .collapsible-content .collapsible-content > .demo-label {
  background: #BBB;
  border-bottom: 1px solid #999;
  color: #555;
}
.demo .collapsible-expanded .collapsible-content .collapsible-expanded > .demo-label {
  background: #BBB;
  color: #555;
}

.modal-sample > a {
  margin-right: .5rem;
  margin-left: .5rem;
}
