// when user is logged out (public)

.logged-out {
  
  // set position: relative for ".global-login"
  .site-header .container {
    position: relative; 
  }
  
  // global login link
  .global-login {
    
    display: none;  
    @include container;
    position: absolute;
    top: 0;
    right: 2rem;
    width:100%;
    
    
    
    
    a {       
      @include Whitney-Bold;
      -webkit-font-smoothing: antialiased;
      background: $blue-30;
      padding: .25em .75em;
      text-align: right;
      font-size: .8rem;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      .icon {
        //display: none;  
        width: .8em;
        top: -2px;
      }
    }
    
    // > 640
    @media (min-width: $break-ml-phone) {
      
      // layout
      display: flex;
      width: auto;  
      
      .search-bar {
        input,
        button {
          background-color: transparent;
          border-bottom: 1px solid currentColor;
          border-radius: 0;
          line-height: 1; 
          padding: .25em .75em;
          &:focus {
            box-shadow: none;
          }  
        }
        input {
          float: right;
        }
        button {
          float: left;
        }
      }
      
    }
    // > 1600
    @media (min-width: $break-xl-screen) {
      right: 3rem;  
    }    
  }

  
}
  