.hide,
.show {
  position: relative; 
}

.toggle-hide-button {
  position: absolute;
  top: -0.45rem;
  right: 0;
  background: transparent;
  padding-right: 0;
}

.select-target {
  display: none;  
}

.slide-panel {   
  overflow: hidden;
  position: fixed;
  transform: none; 
  transition: transform .5s cubic-bezier(.42,0,.58,1);
  will-change: transform translate;
  width: 100%;
  z-index: 10000;
  
  // reset button
  .btn-reset {
    position: absolute;
    top: 7px;
    right: 7px;
    height: 1em;  
    width: 1em;  
    &:hover,
    &:focus {
      background: none;
      opacity: .7;   
    } 
  }
}

// Panel Animations

.fade-in {
  opacity: 1;
  transition: opacity .3s ease; 
  &.is-hidden {
    opacity: 0;
    z-index: 1;  
  } 
}

// slide down 
.slide-down {
  top: 0;
  left: 0;
  &.is-hidden { 
    transform: translateY(-100%);   
  }
}

// slide right
.slide-right {
  left: 0;
  &.is-hidden { 
    transform: translateX(-100%);
  }   
}

// slide up
.slide-up {
  &.is-hidden { 
    transform: translateY(100%);
  }   
}

// slide left
.slide-left {
  top: 0; 
  right: 0; 
  &.is-hidden { 
    transform: translateX(100%);
  }   
}

// push down
.push-down {
  //transform: translateY(100%);
  margin-top: 0;
  position: relative;
  &.is-hidden {
    margin-top: -105px;
    //transform: translateY(-100%);

  }
}