// Content Types

.card {
  //background: #DDD;
  //margin: .5rem;  
  .title {
    //background: rgba(black, .3);
    letter-spacing: .03rem;
    margin-bottom: 0; 
    padding: .75rem .5rem;  
    //text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }
  .icon-wrap {
    display: flex;
    padding: .625em;  
  }
  
  // pricing plans
  .pricing-plans & {
    padding: 1.5em; 
    transition: all .3s ease,
                transform .3s ease;
    z-index: 0;
    //container is less than 320px
    &:container("width < 20em") {
    .feature-list {
      font-size: .9rem;
      }
    }
    //hover effect
    &:hover,
    &:focus {
      border: none;
      box-shadow: 0 0 0 .5em hsl(258, 36%, 60%) inset, 0 0 1em 0 rgba(black, .5);
      outline: none;
      //transform: scale(1.070);
      z-index: 1;
    }
  }
  
  
  // end  
}


// Card Header

.card-header {
  .collapsible-collapsed {
    display: none;  
  }
  .collapsible-expanded {
    display: block; 
  }
}

.card-header {
  .pricing-plans & {
    font-size: 1.5rem;
  }
  // container is less than 288
  &:container("width < 18em") {
    .pricing-plans & {
      text-align: center;
      justify-content: center;
      > * {
        width: 100%;
      }
    }
  }    
  // container is greater than 320px
  &:container("width > 18em") {
   .pricing-plans & { 
     font-size: 2rem;
    }
  }
  // container is greater than 400px
  &:container("width > 25em") {
    .pricing-plans & {
      flex-direction: row;
    }
  }
}

.dollar-sign {
  display: inline-block;  
  vertical-align: super;
  margin-right: .25rem;   
}
