// Slightly lighten a color
// @access public
// @param {Color} $color - color to tint
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function tint($color, $percentage) {
  @return mix($color, white, $percentage);
}

// Slightly darken a color
// @access public
// @param {Color} $color - color to shade
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function shade($color, $percentage) {
  @return mix($color, black, $percentage);
}


.bg-bronze { background-color: $bronze; }

.bg-bronze-g-1 {
  background-image: linear-gradient(to bottom, hsl(49, 15%, 81%) 0%,#8c8774 100%);
}

.c-bronze {
  color: $bronze;
}

// Gold

$gold: hsl(46, 52%, 73%);

$gold-50: hsl(45, 34%, 50%);

.bg-gold {
  background-color: $gold;
}

.bg-gold-50 {
  background-color: $gold-50;
}

.bg-gold-g-1 {
  background-image: linear-gradient(to bottom, $gold 0%, $gold-50 100%);
}

.c-gold-50 {
  color: $gold-50;
}

// General Elements
$text: #333;

// Links
$link: $blue-60;

   
// ********** Globals ********** //

// text color
body {   
  color: $text;
}


// Links
a {
  //color: $link;
  &:hover,
  &:focus {
    //color: lighten($link, 10%);
  }
  &:active {
    //color: darken($link, 10%);
  }
}

// ********** Typography ********** //

      

// ********** Buttons ********** //

    
button:not(.search-button):not([class*="-close"]):not(.btn-cancel),
.btn,
[class^="btn-"]:not(.btn-cancel) { 
  &:hover,
  &:focus,
  &.active {
    //background-color: lighten($blue-20, 15%);
    //color: white;
    //text-shadow: 0 0 5px rgba(black, .3);
    .icon {
      //fill: white;
    }
    > a {
      //color: white;
      //text-shadow: 0 0 5px rgba(black, .3);
      .icon {
        //fill: white;
      }
    }
  }     
  &.active {
    //background-color: darken($btn-primary, 15%);
    //color: #FFF;
  }
}


// ********** Color States ********** //
//  .tc = theme-color


// ** Default  ** // 

.tc-default {
  background-color: transparent;
  // Title
  [class*="-title"] {
    //color: darken($primary, 10%);
  }                            
  
}

// ** Neutral ** //

.tc-neutral {
  //background-color: lighten($secondary, 15%);
  color: darken($text, 5%);
  
  // Title
  [class*="-title"] {
    //color: darken($primary, 10%);
  }
  
  // Subtitle
  .post-subtitle {
    //color: lighten($text, 15%);
  }
  
  // Text
  [class*="-text"] {
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6, {
      color: lighten($text, 15%);
    }
  }
  a:not([class^="btn-"]) {
    //color: $primary-dark;
  }
}    

// ** Dark ** //

.tc-dark {
  //background-color: darken($primary-heavy, 21%);
  color: #FFF;
  .post-subtitle {
    color: #FFF;
  }
  [class*="-text"] {
    //color: $secondary;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #FFF;
    }
  }
  a:not([class^="btn-"]) {
    //color: $primary-light;
  }      
}

// ** Color Themes ** //

.tc-white {
  color: $white;
  a:not(.btn):not([class*=" btn-"]):not(button) {
    color: $white;
  }
}

// theme color
  
@mixin tc-light {  
  background: $white;
  color: $c-555-grey;         
  input {
    border: 1px solid #CCC;   
  }  
  .req-mark {
    color: $c-999-grey;
  }      
  a:not([class*="btn"]):not(button) {
    color: $link;
  }
}

@mixin tc-blue-l {
  background-color: $blue-60;
  color: $white;
  a:not([class*="btn"]) {
    color: $white;
  }
  [class*="btn"]:not(.btn-outline) {
    background-color: $blue-40;
  }
}

@mixin tc-blue-m {
  background-color: $blue-30;
  color: $white;
  [class*="btn"] {
    color: $white;
  }
  [class*="btn"]:not(.btn-outline) {
    background-color: $blue-50;
  }
}

@mixin tc-blue-d {
  background-color: $blue-20;
  color: $white;
  [class*="btn"] {
    color: $white;
  }
  [class*="btn"]:not(.btn-outline) {
    background-color: $blue-50;
  }
}

.tc-light { @include tc-light; }
.tc-blue-l { @include tc-blue-l; }
.tc-blue-m { @include tc-blue-m; }
.tc-blue-d { @include tc-blue-d; }

// ** ORANGE THEME MIXINS ** //

@mixin tc-orange-m {
  background-color: $orange;
  color: $white;
  [class*="btn"] {
    color: $white;
  }
  [class*="btn"]:not(.btn-outline) {
    background-color: $orange-50;
  }
}

//.tc-orange-l { @include tc-orange-l; }
.tc-orange-m { @include tc-orange-m; }
//.tc-orange-d { @include tc-orange-d; }

// ** PURPLE THEME MIXINS ** //

@mixin tc-purple-m {
  background-color: $purple;
  color: $white;
  [class*="btn"] {
    color: $white;
  }
  [class*="btn"]:not(.btn-outline) {
    background-color: $purple-50;
  }
}

//.tc-purple-l { @include tc-purple-l; }
.tc-purple-m { @include tc-purple-m; }
//.tc-purple-d { @include tc-purple-d; }


// ** Override ** //

.inline-color {
  [class*="-title"],
  .post-subtitle,
  [class*="-text"],
  a:not([class^="btn-"]) {
    color: inherit;
  } 
}


// *** END *** //