// Hero Banners

.hero-banner {
  //@extend .bg-blue-g-3;
  padding-top: 4em;
  padding-bottom: 4em; 
  //text-shadow: 0 0 10px rgba(black, .5); 
  // theme color
  &[class*="tc-"] {
    text-shadow: 0 0 10px rgba(black, .5); 
  }
  
  h2 {
    font-size: 3rem;
    margin-bottom: .3em;   
  }
}


// Hero Buttons

.hero-buttons {
  padding-top: 1.5em;
  > * { 
    //text-transform: uppercase; 
      
  }
  [class*="btn"]:nth-child(1) {
    background-color: $EEE;
    //color: $c-555-grey;
  } 
}