//   Remodal - v1.0.6
//   Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
//   http://vodkabears.github.io/remodal/
 
//   Made by Ilya Makarov
//   Under MIT License

// Default theme styles for the background

html.remodal-is-locked {
  // this prevents page shift when modal is active
  //overflow-y: scroll !important;
}

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  filter: blur(3px);
}

// Default theme styles of the overlay

.remodal-overlay {
  background: rgba(43, 46, 56, 0.9);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  animation-name: remodal-overlay-closing-keyframes;
}

// Default theme styles of the wrapper

.remodal-wrapper {
  padding: 1em .75em; 
  // > 480
  @media (min-width: $break-sm-phone) {
    padding: 2em 1em 0;
  }
}

// Default theme styles of the modal dialog

.remodal {
  background-color: $white;
  border-radius: .313em;
  //margin-bottom: 10px;
  padding: 2em 1.25em;
  transform: translate3d(0, 0, 0);
  width: 100%;
  form {
    text-align: initial;
  }
  textarea {
    min-height: auto;
    resize: vertical;  
  }
  input:not([class*="btn"]),
  textarea {
    border: 1px solid #CCC;
  }
  form {
    margin-right: auto;
    margin-left: auto;  
    max-width: 25em;  
  }
  
  
  // video modal
  &.video-modal {
    background-color: transparent;
    padding: 0;
    .modal-buttons {
      padding-top: 1.5em;
      padding-right: 1em;
      padding-left: 1em;     
    }       
  }
  
  
  // > 480
  @media (min-width: $break-sm-phone) {
    max-width: 35em;
    padding: 2.5em;
    
    // video modal 
    &.video-modal {
      
      .btn-primary {
        font-size: 1.125rem; 
      }
      
    }
    // end    
  }
  // > 768
  @media (min-width: $break-md-screen) {
    
    &.video-modal {
      max-width: 48em;
      .modal-buttons {
        padding-right: 0;
        padding-left: 0;     
      }
    }
    
  }
  
  // end
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  animation-duration: .4s;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  animation-name: remodal-closing-keyframes;
}

// Vertical align of the modal dialog

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

// Modal Buttons

.modal-buttons {  
/*
  > * {
    &:nth-child(1) {
      margin-bottom: 1em;
    }     
  }
  // > 375
  @media (min-width: $break-375) {
    display: flex;
    justify-content: center;
    > * {       
      flex: 0 1 30%;
      &:nth-child(1) {
        margin-right: .313rem;
        margin-bottom: 0;
      }
      &:nth-child(2) {
        margin-left: .313rem;
      }
    }
  }
*/ 
}

// Close button

.remodal-close {
  border-radius: 0;
  position: absolute;
  top: -37px;
  //left: 0;
  right: -10px;
  display: block;
  overflow: visible;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: all .3s ease;
  text-decoration: none;
  color: currentColor;
  border: 0;
  outline: 0;
  background: transparent;
  //background: $black-a-90;
  .icon {
    color: #FFF;
    height: 50%;
    width: 50%;
    margin: 0;  
    right: -.1em;
    transition: color .3s ease;    
  }
  &:hover,
  &:focus {
      
   //background-color: $black-a-25;
   .icon {
     //color: #2b2e38;
    }
  }
  
  &:before {
    //font-family: Arial, "Helvetica CY", "Nimbus Sans L", $sans-serif;
    //font-size: 25px;
    //line-height: 35px;
    //position: absolute;
    //top: 0;
    //left: 0;
    //display: block;
    //width: 35px;
    //content: "\00d7";
    //text-align: center;
  }
  
  // > 640
  @media (min-width: $break-md-phone) {
    
    right: -35px;
    
  }

}

// Clear Modal

.clear-modal {
  background: transparent;  
  .remodal-close { 
    top: 0;
    right: 0;   
  } 
}

// Dialog buttons

.remodal-confirm,
.remodal-cancel {
  font: inherit;
  display: inline-block;
  overflow: visible;
  min-width: 110px;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  transition: background .2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0;
}

.remodal-confirm {
  //color: #fff;
  //background: #81c784;
}

.remodal-confirm:hover,
.remodal-confirm:focus {
  //background: #66bb6a;
}

.remodal-cancel {
  //color: #fff;
  //background: #e57373;
}

.remodal-cancel:hover,
.remodal-cancel:focus {
  //background: #ef5350;
}

// Remove inner padding and border in Firefox 4+ for the button tag.

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;
  border: 0;
}

// Keyframes

@keyframes remodal-opening-keyframes {
  from {
    transform: scale(1.05);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes remodal-closing-keyframes {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.95);
    opacity: 0;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// Modal Content

.modal-content { 
 .post-text p {
    margin-right: auto;
    margin-left: auto;
    max-width: 30em;  
  } 
}

.modal-title {
  .icon-alert {
    display: block;
    font-size: 3em; 
    margin-right: auto;
    margin-bottom: .5rem;   
    margin-left: auto;
    max-width: 2em; 
    text-align: center;    
  }
}

// Custom Modals

.remodal {
  
  // alert "success"
  &.alert-success {
    max-width: 30em;  
    .modal-title {
      font-size: 2.125rem;  
      margin-bottom: 0; 
    }
    p {
      margin-bottom: 0; 
      padding-top: .5em; 
    }
    .icon-alert {
      fill: $green;
      width: 100%;  
    }
    .modal-buttons {
      padding-top: 1.125em; 
    }
  }
  
}


