.pricing-plans {


}

// Plan Cost

.plan-cost {
  position: relative; 
}

// Card CTA

.card-cta {
  .pricing-plans & {
    // container is greater than 160px and less than 320px wide
    &:container("width > 10em < 24em") {
      > .btn {
        margin-right: 0;
        margin-bottom: .625em;
        margin-left: 0;
        width: 100%;
      }
      .btn {
        // < 1200
        @media (max-width: $break-lg-screen - .01em) {
          padding-top: .625em;
          padding-bottom: .625em;
        }
      }
      .plan-discount-buttons {  
        width: 100%;
      }    
    }
    // container is less than 320px wide when screen is at least 480px wide
    @media (min-width: $break-sm-phone) {
      &:container("width < 24em") {
        .plan-discount-buttons {
          .btn {
            width: 45%;
          }
        }
      }
    }
  }
}

// Card Title

.card-title {
  sup {
    color: $c-999-grey;
    height: 2em;  
    width: 2em;
    top: -1em;    
    &:hover,
    &:focus {      
      cursor: help;
      &:after {        
        @include tool-tip;        
        content: "$149 - one time fee required";
      }     
    }
  }
}


// Feature List Title

.feature-list-title {
  display: flex;
  overflow: hidden; 
  position: relative;
  width: 100%;
  // > 240
  @media (min-width: $break-240) {   
    &:after {
      content: "............................................................................................................................................................................................................................................................................................................................................................................................................................................";
      color: #AAA;
      //border-bottom: 2px dotted #999;
      font-size: .5em;
      letter-spacing: 0.25em;
      bottom: 2px;  
      width: 100%;
      position: absolute;
      padding-left: .5em;
    }
  }
}

// Purchase Details

.purchase-details {
  .icon {
    min-width: 1em;
    min-height: 1em;   
    margin-top: .25em;  
  }
}
