.pricing-plans {





}

// Pricing Tables

.pricing-tables {
  padding-top: 1em; 
}

// Pricing Plan

.pricing-plan {
}

// Plan Title

.plan-title {
		
}


// Plan Cost

.plan-cost {

}

// Plan Price

.plan-price {
		
}

.plan-type {
  
}

.feature-title {
  display: flex;
  overflow: hidden; 
  position: relative;
  width: 100%;   
  &:after {
    content: "............................................................................................................................................................................................................................................................................................................................................................................................................................................";
    color: #AAA;
    //border-bottom: 2px dotted #999;
    font-size: .5em;
    letter-spacing: 0.25em;
    bottom: 2px;  
    width: 100%;
    position: absolute;
    padding-left: .5em;
  }
}

// Plan Features

.plan-features {
	
}

// Plan Button

.btn-plan {
  max-width: 10em;
}

// Featured Plan

.featured-plan {
	background-color: hsl(191, 53%, 95%);
	border-top: 5px solid hsl(191, 53%, 50%);
	border-right: 0 solid transparent;
	border-bottom: 5px solid hsl(191, 53%, 50%);
	border-left: 0 solid transparent;
	box-shadow: 0 0 10px rgba(black, 0.15);
	overflow: hidden;	
	position: relative;
	transition: transform .4s ease;	
	.plan-title {

	}
}

.featured-ribbon {
	@include corner-ribbon;
}

// ******* BREAKPOINTS ******* //

// 320
@media (min-width: $break-tiny-phone) {
  .pricing-plans {

  }
}