.pricing-plans {


}

// Plan Cost

.plan-cost {
  position: relative; 
}

// Plan CTA

.plan-cta {
  // container is greater than 160px and less than 320px wide
  &:container("width > 10em < 20em") {
    > .btn {
      margin-right: 0;
      margin-bottom: .625em;
      margin-left: 0;
      width: 100%;
    }
    .plan-buttons {
      width: 100%;
    }    
  }
  // container is less than 320px wide when screen is at least 480px wide
  @media (min-width: $break-sm-phone) {
    &:container("width < 20em") {
      .plan-buttons {
        .btn {
          width: 45%;
        }
      }
    }
  }
}


.feature-title {
  display: flex;
  overflow: hidden; 
  position: relative;
  width: 100%;   
  &:after {
    content: "............................................................................................................................................................................................................................................................................................................................................................................................................................................";
    color: #AAA;
    //border-bottom: 2px dotted #999;
    font-size: .5em;
    letter-spacing: 0.25em;
    bottom: 2px;  
    width: 100%;
    position: absolute;
    padding-left: .5em;
  }
}
