// Text Manipulation

.text-b {
  font-weight: bold;   
}

.text-i {
  font-style: italic; 
}

.text-u {
  text-decoration: underline; 
}

.text-d-none {
  text-decoration: none;  
}

.text-line {
  text-decoration: line-through;
}

.text-wrap {
  white-space: normal;
  word-break: break-word;
}

.text-no-wrap {
  white-space: nowrap;
}

.text-trunc:container("width <= 350px") {
  // < 540
  @media (max-width: $break-md-phone) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.post-content:container("width <= 250px") {
  //font-size: 13px;
}

.post-content:container("width >= 300px") { 
  .label {
    //display: inline; 
  }
  &.list-table {
    .label {
      //display: inline-block;
      //min-width: 75px;    
      //width: auto; 
    }
  }
}

.text-s-black-50 {
  text-shadow: 0 0 10px rgba(black, .5);
}

.all-caps {
  text-transform: uppercase;
}

.no-caps {
  text-transform: lowercase;
}

.list-reset {
  list-style-type: none;
  margin-bottom: 0; 
  padding-left: 0;  
  > li {
    margin-bottom: .4rem; 
  }   
}

.antialiased {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.feature-list {
  list-style-type: none;
  // < 240
  @media (max-width: $break-240) {
    span {
      display: flex;
      justify-content: center;
    } 
  }
}

.inline-highlight {
  background-color: $blue-70;
  padding: 0 .125rem .125rem;
  line-height: 1;    
}


//** ALIGNMENT (align-left by default) **//


.v-align-top {
  vertical-align: text-top;
}

.v-align-mid {
  vertical-align: middle;
}

.v-align-base {
  vertical-align: baseline;
} 

// Text Align Right

.text-right {      
  text-align: right;
}

// Text Align left

.text-left {
  text-align: left; 
}

// Text Align Center

.text-center {
  text-align: center;  
}

// Font Family

.whitney-bold,
p > strong,
p > b {
  @include Whitney-Bold; 
}

.whitney-semi {
  @include Whitney-SemiBold; 
}

.whitney-med {
  @include Whitney-Medium; 
}

//** FONT SIZE (1em by default) **//

.text-tiny {
  font-size: .75em; 
}

.text-sm {
  font-size: .875em; 
}

.text-base {
  font-size: 1em; 
}

.text-md {
  font-size: 1.125em; 
}

.text-lg {
  font-size: 1.45em; 
}

.text-xl {
  font-size: 1.75em; 
}

.text-xxl {
  font-size: 2.5em;  
}

// > 375
@media (min-width: $break-375) {

  // Text Align Right
  
  .x-sm-text-right {      
    text-align: right;
      
    * + *:last-child {
      //margin-right: 0; 
    }
  }
  
  // Text Align left
  
  .x-sm-text-left {
    text-align: left;
    * + *:last-child {
      //margin-left: 0; 
    }  
  }
  
  // Text Align Center
  
  .x-sm-text-center {
    text-align: center;  
  }
  
  
  //** FONT SIZE (1em by default) **//
  
  .x-sm-text-tiny {
    font-size: .75em; 
  }
  
  .x-sm-text-sm {
    font-size: .875em; 
  }
  
  .x-sm-text-base {
    font-size: 1em; 
  }
  
  .x-sm-text-md {
    font-size: 1.125em; 
  }
  
  .x-sm-text-lg {
    font-size: 1.45em; 
  }
  
  .x-sm-text-xl {
    font-size: 1.75em; 
  }
  
  .x-sm-text-xxl {
    font-size: 2.5em;  
  }

}

// > 480
@media (min-width: $break-sm-phone) {

  // Text Align Right
  
  .sm-text-right {      
    text-align: right;
      
    * + *:last-child {
      //margin-right: 0; 
    }
  }
  
  // Text Align left
  
  .sm-text-left {
    text-align: left;
    * + *:last-child {
      //margin-left: 0; 
    }  
  }
  
  // Text Align Center
  
  .sm-text-center {
    text-align: center;  
  }
  
  
  //** FONT SIZE (1em by default) **//
  
  .sm-text-tiny {
    font-size: .75em; 
  }
  
  .sm-text-sm {
    font-size: .875em; 
  }
  
  .sm-text-base {
    font-size: 1em; 
  }
  
  .sm-text-md {
    font-size: 1.125em; 
  }
  
  .sm-text-lg {
    font-size: 1.45em; 
  }
  
  .sm-text-xl {
    font-size: 1.75em; 
  }
  
  .sm-text-xxl {
    font-size: 2.5em;  
  }

}

// > 768
@media (min-width: $break-lg-phone) {

  // Text Align Right
  
  .md-text-right {      
    text-align: right;
      
    * + *:last-child {
      //margin-right: 0; 
    }
  }
  
  // Text Align left
  
  .md-text-left {
    text-align: left;
    * + *:last-child {
      //margin-left: 0; 
    }  
  }
  
  // Text Align Center
  
  .md-text-center {
    text-align: center;  
  }
  
  
  //** FONT SIZE (1em by default) **//
  
  .md-text-tiny {
    font-size: .75em; 
  }
  
  .md-text-sm {
    font-size: .875em; 
  }
  
  .md-text-base {
    font-size: 1em; 
  }
  
  .md-text-md {
    font-size: 1.125em; 
  }
  
  .md-text-lg {
    font-size: 1.45em; 
  }
  
  .md-text-xl {
    font-size: 1.75em; 
  }
  
  .md-text-xxl {
    font-size: 2.5em;  
  }

}


// > 992
@media (min-width: $break-md-screen) {

  // Text Align Right
  
  .lg-text-right {      
    text-align: right;
      
    * + *:last-child {
      //margin-right: 0; 
    }
  }
  
  // Text Align left
  
  .lg-text-left {
    text-align: left;
    * + *:last-child {
      //margin-left: 0; 
    }  
  }
  
  // Text Align Center
  
  .lg-text-center {
    text-align: center;  
  }
  
  
  //** FONT SIZE (1em by default) **//
  
  .lg-text-tiny {
    font-size: .75em; 
  }
  
  .lg-text-sm {
    font-size: .875em; 
  }
  
  .lg-text-base {
    font-size: 1em; 
  }
  
  .lg-text-lg {
    font-size: 1.45em; 
  }
  
  .lg-text-xl {
    font-size: 1.75em; 
  }
  
  .lg-text-xxl {
    font-size: 2.5em;  
  }
  
  .lg-text-md {
    font-size: 1.125em; 
  }

}
