// Multi Level Nav

// < 640
@media (max-width: $break-ml-phone) {
  .js-nav .nav-collapse {
    
    &.opened.dropdown-active {
      max-height: 9999px !important;
    }
  

    .sub-menu {
      clip: rect(0 0 0 0);
      max-height: 0;
      position: absolute;
      display: none; /* This way you don't have focus on sub menu items unless you open the sub menu. */
      overflow: hidden;
      zoom: 1;
      li {
        line-height: normal;
      }
    

      &.toggled {
        background-color: rgba(black, .2);
        display: block;  
        max-height: 100em;
        position: relative;
        opacity: 1;
        z-index: 2;
        transition: max-height .4s ease;
      }
    }
  
    .dropdown-toggle {
      //background-color: transparent;
      background: rgba(black, .3);
      border-radius: 0;
      border-left: 1px solid rgba(#FFF,.3);
      content: "";
      height: calc(3.125em - .1em);
      width: 3.125em;
      padding: 0;
      position: absolute;
      margin: 0;
      text-transform: lowercase;
      transition: background .4s ease;
      top: 0;
      right: 1px;
      z-index: 1002;
      .icon {
        fill: #EEE;
        height: 25px;
        width: 25px;  
        margin-right: 0;
        margin-left: 0;
        top: 0;
        left: .15em; 
        pointer-events: none;  
      }
      &:hover,
      &:focus,
      &:active {
        
      }
      &.toggled {
        height: calc(3.125em - .1em);
        .icon {
          transform: rotate(45deg);        
        }
      }
    }
  // END
  }
}

  

// Site Nav

.nav-collapse {
  margin-bottom: 0; 
  overflow: hidden;
  list-style: none;
  text-align: left;
  width: 100%;
  a {
    margin-right: 0;
  }	
  & > ul {
    //padding-top: 1.25rem;
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    .logged-out.sales-person & {
      // < 640
      @media (max-width: $break-ml-phone) {
        //flex-direction: column-reverse;
      }
    }
   }
  & > ul > li {
    margin-bottom: 0;    
    width: 100%;
    position: relative;
    z-index: 1002;
    &.dropdown > a {
      //background-color: rgba(black, .3);
    }    		
    & > a:not([class*="btn"]) {
      background-color: rgba(black, .3);
      color: #FFF;  	  
  	  display: inline-block;
  	  @include Whitney-SemiBold;
  	  
			//border-right: 1px solid #CCC;
			box-shadow: 0 -1px 0 rgba(white, .2) inset;
			//border-left: 1px solid #CCC;
  	  line-height: 3.125;
  	  letter-spacing: .05em; 
  	  padding: 0 0.5em 0 0.7em;
  	  position: relative;   	
  	  width: 100%;
  	  text-decoration: none;
  	  transition: background .4s ease, 
  	              color .4s ease, 
  	              padding .4s ease;
      //-webkit-font-smoothing: auto;
      .icon {
        display: none;  
      }  
  	}
  	&:last-child {
  		margin-bottom: 0;
  		& > a:not([class*="btn"]) {
    		box-shadow: none;
  		} 
  	}
  }
  // .btn-primary {
  //   white-space: nowrap;
  //   //display: none; 
  // }
  .nav-cta {
    .logged-in.sales-person & {
      order: 10;
      padding-top: 1em;
      a {
        white-space: nowrap;
      }
      // > 640
      @media (min-width: $break-ml-phone) {
        padding-top: 0; 
      }
    }
  }
  li[aria-haspopup="true"]:hover,
  li[aria-haspopup="true"]:focus {
  	z-index: 1001; 
  }
  & > ul > li {
    &:first-child > a  {
    	//border-top: 1px solid #CCC;
  	}
  }
	// Submenu
  .sub-menu {
    padding-top: 0; 
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity .4s ease,
                max-height .4s ease;
    & > li {      
  	   margin-bottom: 0;
       position: relative; 
  	  & > a { 
  		  padding: .75em;        
  		  text-transform: none;
  		  transition: all .4s ease; 	
  		}
  	}
  }
}


// Nav Toggle

.nav-toggle {
	display: block;
	border-radius: 4px;
  height: 40px;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-indent: -999px;
  user-select: none;
  max-width: 100px; 
  margin-right: auto;
  margin-bottom: 0; 
  margin-left: auto;  
  width: 100%; 
  -webkit-touch-callout: none;
  // This is where you chose the mobile icon, or button text.
  &:before {
  	border-radius: 4px;
  	background: #DDD;
    content: "menu";
    font: {
      weight: 500;
      size: 1em;
      family: $sans-serif;
      variant: normal;
    }
    position: absolute;
    top: 0;
    left: 0;   	
    speak: none;
    line-height: 40px;
    margin: 0 auto;
    text-indent: 0;
    text-align: center;    
    width: 100%; 
    transition: background .3s ease, width .4s ease;
    -webkit-font-smoothing: subpixel-antialiased;	
  }
}

// Nav Toggle Active

.nav-toggle.active {
  margin-top: 0;  
  width: 100%;    
  &:before {
  	content: 'close';
  	//font-size: 1.5rem;
  	//font-family: $font-icon;
  	//font-weight: 500;  
    line-height: 40px;
    height: 40px;
    text-shadow: none;
  }
}

// Custom Toggle Button

$box-size: 40px;

.nav-toggle-html {
  //background: transparent;
  //border: 2px solid lighten($color, 30%);
  cursor: pointer;
  height: 46px;
  margin-right: auto;
  margin-left: auto; 
  margin-bottom: 0;   
  padding: 0;  
  position: relative;
  width: 56px;
  
  .nav-icon,
  .nav-icon:before,
  .nav-icon:after {
    transition: .3s ease-in-out;
  }

  .nav-icon {
    background: currentColor;
    border-radius: 5px;
    display: inline-block;
    height: 4px;
    width: 60%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    span {
      margin-top: -20px;   
      margin-left: -100px;  
    }
    
    &:before,
    &:after {
      content: '';
      background: currentColor;
      border-radius: 5px;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;  
    }

    &:before {
      top: -$box-size/5;
    }

    &:after {
      top: $box-size/5;
    }
    &:hover,
    &:focus {
      will-change: transform scale;
    }
    
  }
  
  &.active {
    background: rgba(black, .2);
    .nav-icon {
      background-color: transparent;
      transform: scale(.7);
      //transform: rotate(-180deg);
      &:before {
        background: #FFF;
        top: 0;
        transform: rotate(45deg);
      }
      &:after {
        background: #FFF;
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }
        
}

// < 240
@media (min-width: $break-240) {
  .nav-toggle-html {
  	margin-right: 0;
  	margin-left: 0; 
	}
}

// Logo & Main Nav

.header-logo {
  margin: 0 auto;  
}

.main-nav {   
  width: 100%;   
}  


// < 640
@media (max-width: $break-ml-phone) {
  
  // Nav CTA

  .nav-cta {
    margin-bottom: .5rem;    
  }
  
  .btn-cta {
    //border-radius: 0;
    margin-bottom: 0;
    width: 100%; 
  }

}
 

// > 240
@media (min-width: $break-240) {

  .site-title {   
    margin-bottom: 0;
    margin-right: 0;  
    margin-left: 0; 
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    width: 35%; 
    z-index: 1; 
	}
	
  .header-logo {
    margin: 0;  
    //max-width: 8em; 
  }

	.nav-toggle {
    align-self: center; 
    margin-right: 0;
    //margin-top: -40px;
    margin-left: auto; 
    max-width: 75px;
    &:before {
      font-size: 1rem;   
    }
	}

}
  
// > 640
@media (min-width: $break-ml-phone) {

  .site-title { 
    margin-bottom: 0;    
    width: 15%;           
  }
  
  .main-nav {
    margin-top: 0; 
    width: 85%;            
  }
  
  .nav-toggle,
  .nav-toggle-html {
    display: none;  
  }
     
  .js-nav .nav-collapse,
  .nav-collapse {  
    height: auto;
    overflow: visible;
  }
  
  .dropdown ul ul {
    border: 0;
    padding: 0;
  }
  
  .nav-collapse {
    //background-color: transparent;
    font-size: 1.125rem;
    margin-bottom: 0; 
		& > ul {	
			display: flex;
      flex-wrap: wrap;
			align-items: center;
			float: right; 
			justify-content: end;
			margin-bottom: 0;  
			padding-top: 0; 
			position: relative;	
			width: auto;
			z-index: 2; 
		}
	  & > ul > li { 
		  margin-right: .125rem; 
  	  margin-left: .125rem;
		  width: auto;
		  & > a:not([class*="btn"]) {
  		  background-color: transparent; 
  		  border: 2px solid transparent;
  		  box-shadow: none;
        color: currentColor;
  		  //font-size: 1.125rem;  			  
		    margin: 0;
		    padding: .25em .5em .35em; 
        line-height: 1.5; 
		    height: auto; 	
		    text-align: center;
		    position: relative;		    
		    z-index: 1001;
        transition: 
                    color .4s ease,
                    padding-top .4s ease;
    
		  }
      &.inline-login-link {
  		  display: none;  
		  }	
      &:nth-child(2) {
        margin-left: 0; 
        > a  {
      	  //border-top: none;
      	}
    	}
		  &:hover > a:not([class*="btn"]),
		  &.active > a:not([class*="btn"])  {
		    border: 2px solid currentColor;
        transition: border .4s ease;
	    } 
		  &:nth-last-child(n+4), 
      &:nth-last-child(n+4) ~ * {
  
      }
      &:nth-last-child(n+6), 
      &:nth-last-child(n+6) ~ * {
        margin-left: 0; 
        & > a { 
          //font-size: .9em;
        }
      }
      
	  }
	  
	  .nav-cta {
  	  padding-top: 0; 
  	  padding-bottom: 0;  
      order: 1;  
    }
    
    .btn-cta {
      white-space: nowrap;
    }
	  
	  // Sub Menu
	  	
		.sub-menu {
  		//display: none;
      background-color: transparent;  
		  position: absolute;
		  top: 0;
		  right: 0; 
		  padding-top: 1rem;
		  pointer-events: none;
		  width: 100%;
		  max-height: 0;
		  width: 200px;
		  transition: opacity .4s ease,
                  max-height .4s ease,
                  padding .3s cubic-bezier(.55,.26,.5,.81);
		  z-index: 1000;
		  & > li {
			  display: block;			  
			  width: 100%;
			  z-index: 1000;  				  
				& > a {
  				background: #EEE;
          color: $blue-50;
  				// border-right: 1px solid #CCC;
  				// border-bottom: 1px solid #CCC;
  				// border-left: 1px solid #CCC;
  				//box-shadow: 4px 4px 0 rgba(black, .1);	
					display: block;
					font-size: .75rem;  
					height: auto;  
					text-align: left;					
					padding: .75rem;
					width: 100%;  
					visibility: visible;
          transition: background .4s ease,						
				}
				&:hover > a {
  				background: #DDD;
        }	
				&:first-child > a {
					//border-top: 1px solid #CCC;
				}			
			}
			// Sub Menu Dropdown
			& > li.focus-nav {
  			.sub-menu {
    			display: block;
    			max-height: 999px;
    			opacity: 1;   
    			padding-top: 0;   
  			}
			}
			
			// Sub Sub Menu
			
			.sub-menu {
  			//display: none;  
  			//opacity: 1;
  			max-height: 0;
  			padding-top: 0;   
    		top: -1px; 
    		left: 199px;
    		//position: relative;   
    		li > a {
      		background: #DDD; 
          &:hover {
            background: #EEE; 
        	}        		
    		} 
  		}
	  }
	  
	  // Last Nav Item
	  
	  & > ul > li:last-child,
	  & > ul > li:nth-last-child(2) {	  
  	  & > .sub-menu {
  			left: auto;
  			right: 0;
  			li > a {
    			//box-shadow: -4px 4px 0 rgba(black, .1);
  			}
  			.sub-menu {
    			left: auto;
    			right: 199px; 
  			}  
  		}
		}
		
		// Hover State
		
		& > ul > li:hover,
		& > ul > li:focus {
			cursor: pointer;
			& > a {
				
			}			
		}
		
		// Dropdown
		
		.dropdown-toggle {
  		display: none;  
      background: transparent;
      height: auto;
      width: auto;   
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: .5rem;  
      .icon {
        margin: 0;
        height: 1rem;
        width: 1rem;    
      }  
    }
		
		
		// dropdown icon
		
		& > ul > li[aria-haspopup="true"] {
  		 
  		//position: relative;
  		> a {
    		//position: relative;
    		//z-index: 1002;
  		}
  		.dropdown-toggle {
    		//display: none;  
  		}
			& > a:after {
			  //content: '\e818';
        //font-family: $font-icon;
        //font-size: 0.875rem;
        //padding-left: 0.5em;
        //width: 0.938em;	
			}
		}
		
		// sub-menun dropdown icon
		
		.sub-menu > li[aria-haspopup="true"] {
  		& > a {
    		//display: table;
  		}
			&:after {
        display: none; 
  			background: url('../images/UI/ui-icons/icon-caret-down.svg') no-repeat center #DDD;
  			background-size: 15px;
  			position: absolute;
  			top: 0;
  			right: 0;
  			height: calc(100% - 1px);
  			width: 40px;
  			//z-index: 1003; 			
			  content: '';
        font-size: 1.125rem;
        padding-left: 0;
        text-align: right;
        //default style
        //content: '\e818';
        //display: table-cell;
        //font-family: $font-icon;
        //font-size: 0.875rem;
        //padding-left: 0.5em;
        //width: 0.938em;	
			}
			&.focus-nav {
  			& > a:after {
  			  //content: '\e804';
  		  }
			}
		}
		
		
		// Dropdown Hover
		
		& > ul > li[aria-haspopup="true"]:hover {
  		& > .sub-menu {
    		z-index: 9999;
    }
		}
		
		& > ul > li[aria-haspopup="true"]:hover {
  		& > .sub-menu {
    		z-index: 9998;
      }
		}
		
		
		
		& > ul > li[aria-haspopup="true"]:hover,
		& > ul > li[aria-haspopup="true"]:focus {  		
			& > .sub-menu {
				padding-top: 2.75rem;
				pointer-events: all;
				//display: block;   
				max-height: 9999px;
				opacity: 1;
				overflow: visible;
				    
			}  
		}
		
		.sub-menu > li[aria-haspopup="true"]:hover,
		.sub-menu > li[aria-haspopup="true"]:focus {
  		& > .sub-menu {
    		//display: block;
    		pointer-events: all; 
				max-height: 9999px;
				opacity: 1;
				overflow: visible;  
			}
		}
	}  
}


// > 768
@media (min-width: $break-lg-phone) {
  .site-title {
    margin-bottom: 0; 
    text-align: left;
    width: 20%;         
  }
  .main-nav {
    margin-top: 0; 
    width: 80%;            
  }
  .nav-collapse {
    & > ul {
      flex-wrap: nowrap;
      justify-content: flex-end;
    }
    > ul > li {  
	    margin-right: .75rem; 
	    margin-left: .75rem;
	  }	
  } 
}

// > 992
@media (min-width: $break-md-screen) {
  .nav-collapse {
    & > ul > li {
  	  margin-left: 1rem;
  	  white-space: nowrap; 
  	  & > a:not([class*="btn"]) {
    	  //font-size: 1.35em;  
      	padding-right: 1rem;
      	padding-left: 1rem;   
    	}  
	  }
  }
} 