// Footer Styles

.site-footer {
  position: relative;
  a {
    //display: none;  
    //color: currentColor;
  } 
}

// Footer Logo

.footer-logo {
  //display: none;  
  line-height: 0;    
  width: 9em;  
}

// site copyright

.copyright {
  display: block; 
  font-size: 0.875rem;
  margin-bottom: 0; 
}

// Footer Menu

.footer-menu {
  > li {
    margin-bottom: .313rem;
    &:last-child {
      margin-bottom: 0; 
    } 
    > a:not(button):not(.btn):not([class^="btn-"]) {
      color: currentColor; 
    }
  }
}

