// Quick Contact form (modal)

.quick-contact-form {
  
  .form-helpers {
    margin-bottom: 0; 
  }
  
  
  // all rows w/input class
  [class*="input-"] {
        
    // inputs     
    input,
    textarea {  
      padding-top: 1em;
      padding-right: .75em;  
      padding-bottom: 1em;
      padding-left: .75em;     
    }    
    // hide label
    label {
      @include sr-only;
    }
  }
  
  
  .button-wrap {
    //padding-top: 0; 
  }
  
  .btn-primary {
    font-size: 1.25rem; 
    margin-bottom: 0; 
    width: 100%; 
  }
  
  
  // modal styles
  
  &.remodal {
    
    @include tc-blue-m;
    
    input:not([class*="btn"]),
    textarea {
      border: none;
    }
    .modal-title,
    .post-text p {
      text-align: center; 
    }
    .post-text p {
      margin-bottom: 1.5em;  
      max-width: 25em;
    }
    
  }
  
 // end   
}
