// Search Bar

.search-bar {
  display: none;  
  @include clearfix;
  input[type='search'] {
    color: currentColor;
    border-right: none;
    border-radius: 3px 0 0 3px;
    float: left;  
    width: 85%;  
  }
  button {
    border-radius: 0 3px 3px 0;
    float: left;  
    margin-bottom: 0;
    padding: 0;  
    width: 15%;
    text-align: center;
    .icon {
      margin: 0;  
    }
    &:hover,
    &:focus  {
      //background: transparent;
      //border: 1px solid transparent;
      //color: currentColor;
      .icon {
        //fill: currentColor;
      }
    }   
  }
  &.search-bar-clear {
    input {
                        
    }
    button {
      //border: 1px solid currentColor;
      border-left: none;
    }
  }
}

.search-bar {
  input[type='search']:not([class*=" bg-"]):not([class*=" c-"]) {
    color: currentColor;
  }
}
